<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQwIlF0ysABTKf-gloR6sXbKp0sLwNOvs</string>
	<key>GCM_SENDER_ID</key>
	<string>514730439208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rattigan.FinalMemoryApp</string>
	<key>PROJECT_ID</key>
	<string>memorytrainerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>memorytrainerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:514730439208:ios:4a2f81d29196a6bd81bb1d</string>
</dict>
</plist>
